I want to have a web application which is basically flash cards to learn sight words.

It should ask and maintain who is the user.if the user could recognize the word he will click space/enter or tick in the flash card

There should be an option to enter the sight words to learn

The app should maintain a history of words which is ansered correctly/wrongly, and give analysis like which words are mostly learnt and what needs further learning.

App can make random decks beased on the input of the user on the num of cards/decks

there should also be an option for the user to make the deck
